
:root{
  --planet-list-color: black;
  --body-background-color: #fff;
}
/* body.light{
  --planet-list-color: black;
  --body-background-color: #fff;
} */

body.dark {
  --planet-list-color: #66bb6a;
  --body-background-color: #000;
}

body {
  background-color: var(--body-background-color);
}